#Header {
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  #titulo {
    color: rgb(241, 238, 10);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 2%;
    padding: 0.5%;
  }
  
  #intentos {
    color: rgb(255, 251, 5);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    left: 2%;
    top: 100%; 
  }