#Tablero{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 700px;
    height: 100px;
    margin: auto;
    padding-bottom: 50px;
    position: relative;
    top: -90px;
    left:0%;
}